{% extends 'nav.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css')}}" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>




    <input id="employee_id" type="text" hidden value="{{current_user.id}}">

        <h1>Promedio</h1>
        <hr><br>
        {% include 'avg_chart.html' %} 
        <hr><br>

        
        <hr><br>
        <h1>Mis respuestas</h1> <br> 
        
        <select id="time-select2" class="postbtn">
          <option value="all-time" selected="selected">Todo</option>
          <option value="last-15mins">Ultimos 15 minutos</option>
          <option value="last-30mins">Ultimos 30 minutos</option>
          <option value="last-hour">Ultima hora</option>
          <option value="last-24hours">Ultimas 24 horas</option>
          <option value="last-2days">Ultimos 2 dias</option>
          <option value="last-5days">Ultimos 5 dias</option>
          <option value="last-week">Ultima semana</option>
          <option value="last-month">Ultimo mes</option>
      </select>
  


        <hr><br>
        {% include 'bar_chart.html' %}
        
        <br><br>



  <script src="{{ url_for('static', filename='js/employee_dashboard.js')}}"></script>
{% endblock %}