<table id="emails-table">
    <thead>
      <tr>
        <th>Email del empleado</th>
        <th>Nombre del empleado</th>
        <th>Rol</th>
        <th>Genero</th>
        <th>Doctor/Empleado</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employee_list%}
      <tr>
        <td>{{employee.email}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.role}}</td>
        <td>{{employee.gender}}</td>
        {% if employee.is_doctor%}
        <td>Doctor <button class="delete-btn" onclick="onDeleteClick('{{employee.id}}')">Borrar</button></td> 
        {% else %}
        <td>Employee <button class="delete-btn"  onclick="onDeleteClick('{{employee.id}}')">Borrar</button></td> 
        {% endif %}
      </tr>
      {% endfor %}
      <tr>
        <td><input id="email" name="email" type="text" class="textInput" placeholder="Email"></td>
        <td><input id="name" name="name" type="text" class="textInput" placeholder="Nombre"></td>
        <td><input id="role" name="role" type="text" class="textInput" placeholder="Rol"></td>
        <td><input id="gender" name="gender" type="text" class="textInput" placeholder="Genero"></td>
        <td><input id="is_doctor" name="is_doctor" type="text" class="textInput" placeholder="Doctor/Empleado"></td>
      </tr>
    </tbody>
  </table>